    body {
        background-image: url(img/tlo.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Montserrat', sans-serif;
    }
    
    .logo {
        background-image: url(img/bieznik3.jpg);
        background-attachment: fixed;
        background-size: cover;
        color: white!important;
    }
    
    .navbar {
        color: white!important;
        backdrop-filter: blur(4px);
        background-color: rgba(240, 238, 242, 0.2);
    }
    
    .nav-link {
        color: white!important;
        text-transform: capitalize;
        font-weight: 700;
        letter-spacing: .1rem;
        font-size: 25px;
        text-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);
        margin-left: 30px;
    }
    
    .onas {
        color: white!important;
        text-justify: auto;
    }
    
    .footer {
        color: white!important;
        background-image: url(img/bieznik.jpg);
    }
    
    .footer1 {
        background-image: linear-gradient(90deg, rgb(22, 21, 21), #212121);
    }
    
    .oferta {
        color: white!important;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: justify;
        display: flex;
        text-decoration: none;
    }
    
    .oferta3 {
        color: white!important;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: start;
        display: flex;
        text-decoration: none;
    }
    
    .oferta2 {
        color: white!important;
        margin-top: 30px;
        margin-bottom: 30px;
        text-decoration: none;
      backdrop-filter: blur(4px);
        background-color: rgba(240, 238, 242, 0.2);
    }
    
    .oferta h5 {
        margin-top: 1.5rem;
    }
    
    .oferta h6 {
        margin-top: 1.5rem;
        font-size: medium!important;
        text-overflow: inherit;
    }
    
    .cennik {
        color: white;
        text-align: center;
        font-weight: 900;
    }
    
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        justify-content: center;
    }
    
    .tg td {
        border-style: solid;
        border-color: darkred;
        border-width: 2px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 5px 6px;
        word-break: normal;
    }
    
    .tg th {
        border-style: solid;
        border-width: 2px;
        border-color: maroon;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 5px 6px;
        word-break: normal;
    }
    
    .tg .tg-ja0e {
        background-color: #fe0000;
        border-color: maroon;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        vertical-align: top
    }
    
    .tg .tg-uw8j {
        background-color: #fe0000;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        vertical-align: top
    }
    
    .tg .tg-t2xe {
        background-color: #9a0000;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        vertical-align: top
    }
    
    .tg .tg-nogn {
        background-color: #9a0000;
        border-color: maroon;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle
    }
    
    .tg .tg-q6pw {
        background-color: #fe0000;
        border-color: maroon;
        color: #ffffff;
        font-size: 18px;
        text-align: left;
        vertical-align: middle
    }
    
    .tg .tg-vcl2 {
        background-color: #fe0000;
        border-color: maroon;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        vertical-align: middle
    }
    
    .tg .tg-ap0p {
        background-color: #9a0000;
        border-color: maroon;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        vertical-align: top
    }
    
    .tg .tg-1bje {
        background-color: #fe0000;
        border-color: maroon;
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        vertical-align: top
    }
    
    .tg .tg-q3gx {
        background-color: #9a0000;
        border-color: maroon;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        vertical-align: top
    }
    
    .galeria img {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        padding: 15px;
        width: 100%;
        position: relative;
        margin: 3px;
    }
